<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#121318] flex items-center justify-center h-screen">
    <div class="border-2 border-[#0047ab] p-6 w-96 text-center rounded-lg bg-[#1a1f2c] text-white">
        <h1 class="text-xl font-bold mb-2">Stay Tuned !</h1>
        <p class="text-sm">we'll Try to serve you more as soon as possible.</p>
    </div>
</body>
</html>
